h1 {
    background-color: #DB2955;
    color: antiquewhite;
    margin: 16px auto;
    padding: 16px 32px;
    height: auto;
    width: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 8px;
    margin-right: 8px;
}

h3 {
    background-color: #DB2955;
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin: 16px 20px -16px 40px;
    padding: 12px 10px 10px 10px;
    border: #9DA39A;
    border-width: 5px;
    border-style: solid;
}

ul {
    background-color: #9da39aa9 ;
    height: auto;
    width: auto;
    margin: 16px 20px 16px 40px;
    padding: 10px;
}

ol {
    list-style-position: inside;
}

ol li::marker {
    color: #B98389;
}

li {
    background-color: #9da39aa9;
    color: #54494B;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 20px 10px 0;
    padding: 10px;
}

ul li {
    background-color: #B98389;
    height: auto;
    width: auto;
    margin: 4px;
    padding: 8px 16px;
    display: inline-block;
}

a {
    color: blue;
}

img {
    display: block;
    margin: 0 auto;
}

p {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 40px;
    margin-right: 8px;
}